<!-- speaker table -->
<div class="hidden sm:block" aria-hidden="true">
    <div class="py-5">
        <div class="border-t border-gray-200"></div>
    </div>
</div>

<div class="flex flex-col px-2">
    <div class="-my-2 overflow-x-auto ">
        <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
            <div class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg">
                <table class="min-w-full divide-y divide-gray-200">
                    <thead class="bg-gray-50">
                        <tr>
                            <th scope="col"
                                class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                ID</th>
                            <th scope="col"
                                class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                Name</th>
                            <th scope="col"
                                class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                Address</th>
                            <th scope="col"
                                class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                Status</th>
                            <th scope="col"
                                class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                Role</th>
                            <th scope="col"
                                class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                Rating</th>
                            <th scope="col" class="relative px-6 py-3">
                                <span class="sr-only">Edit</span>
                            </th>
                        </tr>
                    </thead>
                    <tbody class="bg-white divide-y divide-gray-200">
                        <tr *ngFor="let item of speakers | arrayFiter:txtSearch ; index as i">
                            <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                                {{item.id}}</td>
                            <td class="px-6 py-4 whitespace-nowrap">
                                <div class="flex items-center">
                                    <div class="flex-shrink-0 h-10 w-10">
                                        <ng-template [ngIf]="(item.image == '')" [ngIfElse]="img">
                                            <span
                                                class="inline-block h-10 w-10 rounded-full overflow-hidden bg-gray-100">
                                                <svg class="h-full w-full text-gray-300" fill="currentColor"
                                                    viewBox="0 0 24 24">
                                                    <path
                                                        d="M24 20.993V24H0v-2.996A14.977 14.977 0 0112.004 15c4.904 0 9.26 2.354 11.996 5.993zM16.002 8.999a4 4 0 11-8 0 4 4 0 018 0z" />
                                                </svg>
                                            </span>
                                        </ng-template>
                                        <ng-template #img>
                                            <img class="h-10 w-10 rounded-full" [src]="item.image" alt="Avatar">
                                        </ng-template>
                                    </div>
                                    <div class="ml-4">
                                        <div class="text-sm font-medium text-gray-900">
                                            <span [contentEditable]="edit && enableEditIndex === i"
                                                #firstName>{{item.firstName}}</span>
                                            <span [contentEditable]="edit && enableEditIndex === i" class="px-1"
                                                #lastName>{{item.lastName}}</span>
                                        </div>
                                        <div class="text-sm text-gray-500 "
                                            [contentEditable]="edit && enableEditIndex === i" appHighLight #email>
                                            {{item.email}}</div>
                                    </div>
                                </div>
                            </td>
                            <td class="px-6 py-4 whitespace-nowrap">
                                <div class="text-sm text-gray-900" [contentEditable]="edit && enableEditIndex === i"
                                    #country>{{item.government}}</div>
                                <div class="text-sm text-gray-500" [contentEditable]="edit && enableEditIndex === i"
                                    #city>
                                    {{$any(item).address['city']}}
                                </div>
                            </td>
                            <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                                <ng-template [ngIf]="(edit && enableEditIndex === i)" [ngIfElse]="editStatus">
                                    <select [(ngModel)]="item.activated">
                                        <option [ngValue]="true">Activated</option>
                                        <option [ngValue]="false">No-Activated</option>
                                    </select>
                                </ng-template>
                                <ng-template #editStatus>
                                    <ng-template [ngIf]="(item.activated)" [ngIfElse]="noActivated" #activated>
                                        <span
                                            class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-green-100 text-green-800">
                                            Acivated</span>
                                    </ng-template>
                                    <ng-template #noActivated>
                                        <span
                                            class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-red-200 text-red-800">
                                            No-Activated</span>
                                    </ng-template>
                                </ng-template>
                            </td>
                            <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500" #role>
                                <ng-template [ngIf]="(edit && enableEditIndex === i)" [ngIfElse]="editRole">
                                    <select [(ngModel)]="item.role">
                                        <option ngValue="Admin">Admin</option>
                                        <option value="Speaker">Speaker</option>
                                    </select>
                                </ng-template>
                                <ng-template #editRole>
                                    {{item.role}}
                                </ng-template>
                            </td>
                            <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500" #rating>
                                <!-- <app-stars [rating]="item.rating"></app-stars> -->
                                <ng-template [ngIf]="(edit && enableEditIndex === i)" [ngIfElse]="editRating">
                                    <p-rating [(ngModel)]="item.rating" [cancel]="false" [readonly]="false"></p-rating>
                                </ng-template>
                                <ng-template #editRating>
                                    <p-rating [(ngModel)]="item.rating" [cancel]="false" [readonly]="true"></p-rating>
                                </ng-template>

                            </td>
                            <td class="px-6 py-4 whitespace-nowrap text-right text-sm font-medium">
                                <ng-template [ngIf]="enableEditIndex !=i || !edit" [ngIfElse]="saveItem">
                                    <button (click)="editClick(i)" class="text-indigo-600 hover:text-indigo-900">Edit
                                    </button>
                                </ng-template>
                                <ng-template #saveItem>
                                    <button (click)="speakerEdit(item.id , 
                                    {id:item.id,
                                        email:email.textContent ,
                                        firstName:firstName.textContent,
                                        lastName : lastName.textContent,
                                        government:country.textContent,
                                        address:{city:city.textContent , building:item.address.building, street:item.address.street},
                                        activated:item.activated,
                                        role:item.role,
                                        rating:item.rating
                                        })" class="text-indigo-600 hover:text-indigo-900">save</button>
                                </ng-template>
                                <button [swal]="deleteSwal" class=" px-3 text-red-600 hover:text-red-900">Delete
                                </button>
                                <swal #deleteSwal title="Are you sure?" text="You won't be able to revert this!"
                                    confirmButtonColor="#3085d6" cancelButtonColor='#d33'
                                    confirmButtonText='Yes, delete it!' icon="warning" [showCancelButton]="true"
                                    [focusCancel]="true" (confirm)="delete(i)">
                                </swal>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<!-- (click)="delete(i) -->